*{
    margin: 0px;
    padding: 0;;
    box-sizing: border-box; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding: 10px;
    background-color: #778da9;
    border: 1px solid #415a77;
    text-align: center;
    font-size: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    padding: 10px;
    background-color: #778da9;
    border: 1px solid #415a77;
    text-align: center;
}

nav ,article,div{
    padding: 10px;
    background-color: #778da9;
    text-align: center;
}

header ,footer{
    width: 100%;
    clear: both;
    background-color: #415a77 ;
    color: white;
}

nav{
    width: 20%;
    height: 200px;
    float: left ;
}

div{
    width: 20%;
    height: 200px ;
    float: left;
}

article{
    width: 60%;
    height: 200px;
    float: left;
}